.App {
  display: grid;
  justify-content: center;
  position: sticky;
  margin-top: 15%;
}

.resp {
  color: #FFFFFF;
  margin-top: 2px;
  font-size: 30px;
}

.err-resp {
  color: #D3215D;
  margin-top: 7px;
  font-size: 17px;
}
